@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #030326;
    --primary-color1: #04041D;
    --primary-color2: #090931;
    --primary-color3: #050550;
    --primary-color4: #0E0E76;

    --secondary-one-color: #FFF6F6;
    --secondary-one-color1: #FFC4C4;
    --secondary-one-color2: #FFD9D9;
    --secondary-one-color3: #FFECEC;
    --secondary-one-color4: #E9D3D3;
    
    --secondary-two-color: #002B00;
    --secondary-two-color1: #002100;
    --secondary-two-color2: #023802;
    --secondary-two-color3: #005C00;
    --secondary-two-color4: #008700;

    --complement-color: #FFBF00;
    --complement-color1: #FFE8A4;
    --complement-color2: #FFDB70;
    --complement-color3: #D9A300;
    --complement-color4: #A77D00;

    --white: #fff;
    --text-light: #94a3b8;
    --max-width: 1200px;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.section-content {
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--max-width);
}

.header {
    background: var(--primary-color1);
    height: 100vh;
}

/* Navbar */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color1);
    padding: 20px;
    margin-bottom: 0;
}

.nav-menu .nav-logo .logo {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}

.nav-menu .nav-logo .logo span{
    color: var(--complement-color);
}

.nav-menu .nav-links {
    display: none;
    gap: 15px;
}

.nav-menu .nav-links .nav-link {
    display: block;
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.nav-menu .nav-links .nav-link:hover {
    border-bottom: 2px solid var(--complement-color);
    color: var(--complement-color);
}

.nav-menu .bars-button {
    color: var(--white);
    font-size: .8rem;
}

/* Hero */
.hero-section {
    display: flex;
    flex-direction: column;
    /* height: 60vh; */
}

.hero-section .hero-image img{
    border-radius: 25px;
}

.hero-section .hero-content .name {
    font-size: .7rem;
    font-weight: 400;
    color: var(--white);
}
.hero-section .hero-content .main-name {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
}
.hero-section .hero-content .subtitle {
    width:fit-content;
    color: var(--complement-color3);
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--complement-color);
}
.hero-section .hero-content .description {
    color: var(--text-light);
    font-size: .7rem;
    margin-bottom: 20px;
}


/* Responsive */
@media (min-width: 320px) {
    .hero-section .hero-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-section .hero-image img{
        width: 280px;
    }
}

@media (min-width: 520px) {
    .nav-menu .nav-logo .logo {
        font-size: 1.2rem;
    }
    .nav-menu .bars-button {
        font-size: 1rem;
    }

    .hero-section{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .hero-section .hero-image{
        display: block;
        width: auto;
    }
    .hero-section .hero-image img{
        width: 280px;
    }
    .hero-section .hero-content .name{
        font-size: .9rem;
    }
    .hero-section .hero-content .main-name{
        font-size: 2rem;
    }
    .hero-section .hero-content .subtitle{
        font-size: .9rem;
    }
    .hero-section .hero-content .description{
        font-size: .8rem;
    }
}

@media (min-width: 648px) {
    .nav-menu .nav-links {
        display: flex;
    }
    .nav-menu .nav-links .nav-link {
        font-size: 1rem;
    }
    .nav-menu .bars-button{
        display: none;
    }
    

    .hero-section {
        margin-top: 30px;
        height: auto;
    }
    .hero-section .hero-content{
        width: 300px;
    }
}

@media (min-width: 768px) {
    .nav-menu .nav-logo .logo {
        font-size: 1.4rem;
    }
    .nav-menu .nav-links .nav-link {
        font-size: 1.1rem;
    }

    .hero-section{
        padding: 0 60px;
    }
    .hero-section .hero-image img{
        width: 400px;
    }
    .hero-section .hero-content{
        width: 500px;
    }
    .hero-section .hero-content .name{
        font-size: 1.2rem;
    }
    .hero-section .hero-content .main-name{
        font-size: 2.7rem;
    }
    .hero-section .hero-content .subtitle{
        font-size: 1.3rem;
    }
    .hero-section .hero-content .description{
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .nav-menu .nav-logo .logo {
        font-size: 1.5rem;
    }
    .nav-menu .nav-links .nav-link {
        font-size: 1.2rem;
    }

    .hero-section .hero-image img{
        width: 500px;
    }
    .hero-section .hero-content .name{
        font-size: 1.3rem;
    }
    .hero-section .hero-content .main-name{
        font-size: 3rem;
    }
    .hero-section .hero-content .subtitle{
        font-size: 1.3rem;
    }
    .hero-section .hero-content .description{
        font-size: 1.1rem;
    }
}