@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
	--primary-color: #f8f208;
	--primary-color-dark: #ee9821;
	--secondary-color: #04091d;
	--secondary-color-light: #0f1221;
	--secondary-color-dark: #03060f;
	--text-light: #94a3b8;
	--white: #fff;
	--max-width: 1200px;
	--gradient: linear-gradient(to right, 
    var(--primary-color-dark),
    var(--primary-color)
    );
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

/* Styling Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--secondary-color-dark);
}

header .navbar {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}


.navbar .nav-logo .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.navbar .nav-logo .logoSpan {
    color: var(--primary-color-dark);
}


.navbar .nav-menu {
    display: flex;
    gap: 10px;
}
.navbar .nav-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white);
    font-size: 1.12rem;
    border-radius: 20px;
    transition: .3 ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--white);
    background: var(--gradient);
}

.navbar .nav-btn {
    padding: 10px 18px;
    color: var(--white);
    font-size: 1.12rem;
    border: 2px solid var(--secondary-color-dark);
    border-radius: 20px;
    background: var(--gradient);
}

.navbar .nav-btn:hover {
    background: none;
    border-color: var(--white);
}

/* Hero Styling */
.hero-section {
    height: 100vh;
    background: var(--secondary-color-dark);
}

.hero-section .section-content {
    padding: 0 60px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;
}

.hero-section .hero-image {
    max-width: 400px;
    max-height: 500px;
    border-radius:2200px;
    /* object-fit: cover; */
    overflow: hidden;
}


 .hero-section .hero-description .text-1 {
    font-size: 27px;
}
 .hero-section .hero-description .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
 .hero-section .hero-description .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

 .hero-section .hero-description .text-3 span {
    color: var(--secondary-color)
}