@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #e9615e;
    --secondary-color: #ec9956;
    --extra-light: #f3f4f6;
    --gradient-1: linear-gradient(to bottom right, #62393c, #181e41);
    --gradient-2: linear-gradient(to bottom right, var(--primary-color),var(--secondary-color));
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}


/* Styling Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    /* background: var(--gradient-1); */
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar .nav-logo .logo {
    display: inline-block;
    padding: 8px 14px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background: var(--gradient-2);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.navbar .nav-logo .logo-text {
    color: white;
    font-size: 1.5rem;
    padding: 0 15px;
    font-weight: 600;
}

.navbar .nav-logo .logo-text .span {
    color: var(--primary-color);
}

.nav-menu {
    display: flex;
    /* gap: 10px; */
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: white;
    font-size: 1.12rem;
    border-radius: 20px;
    transition: .3 ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--extra-light);
    background: var(--gradient-2);
}

/* Hero Styling */
.hero-section {
    height: 100vh;
    background: var(--gradient-1);
}

.hero-section .section-content {
    padding: 0 60px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;
}

.hero-section .hero-image {
    max-width: 400px;
    max-height: 500px;
    border-radius:2200px;
    /* object-fit: cover; */
    overflow: hidden;
}


 .hero-section .hero-description .text-1 {
    font-size: 27px;
}
 .hero-section .hero-description .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
 .hero-section .hero-description .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

 .hero-section .hero-description .text-3 span {
    color: var(--primary-color)
}